@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header { width: 100%;min-height:
	100px}

.img-100 {width: 100%;height: auto}

header h1 {
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.gallery img {
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea, input[type="submit"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Đảm bảo padding và border không tăng kích thước của phần tử */
}

input[type="submit"]:hover{
    background-color: #007bff;
    color: black;
    border: none;
    cursor: pointer;}